@model ChangePasswordViewModel

<form asp-action="ChangePassword">
    <label asp-for="OldPassword">Old:</label>
    <input type="password" asp-for="OldPassword">
    <label asp-for="NewPassword">New:</label>
    <input type="password" asp-for="NewPassword">
    <label asp-for="ConfirmNewPassword">New:</label>
    <input type="password" asp-for="ConfirmNewPassword">
    <button type="submit"></button>
</form>
