@{
    ViewData["Title"] = "Пароль змінено";
}

<div class="text-center">
    <h2>Пароль успішно змінено</h2>
    <img src="~/static/images/success.svg" width="15%">
    <br>
    <a asp-area="" asp-controller="Account" asp-action="Index" class="btn btn-dark m-3 w-25">Повернутися до профілю</a>
</div>
