@model SignUpViewModel
@{
    ViewData["Title"] = "Реєстрація";
}

<div class="d-flex justify-content-center">
    <div class="w-50">
        <h2 class="text-center">Зареєструватися</h2>
        <form asp-action="SignUp" method="post">
            <div class="form-group">
                <label asp-for="FirstName">Ім'я:</label>
                <input asp-for="FirstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Прізвище:</label>
                <input asp-for="LastName" class="form-control" required>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Номер телефону:</label>
                <input asp-for="PhoneNumber" class="form-control" type="tel" required>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" type="email" required>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль:</label>
                <input asp-for="Password" class="form-control" type="password" required>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Повторіть пароль:</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" required>
            </div>
            <div asp-validation-summary="All" class="text-danger no-dots-list"></div>
            <div class="form-group text-center">
                <br>
                <button type="submit" class="btn btn-primary w-50">Зареєструватися</button>
            </div>
        </form>
    </div>
</div>
