@{
    ViewData["Title"] = "Про нас";
}
<div class="text-center">
    <h2>Про магазин</h2>
    <img src="~/static/images/logo.png" alt="Логотип" class="img-fluid" width="300px">
    <p>Магазин "Еко Лінія" був заснований у 2023 з метою поширювати товари які є корисними не лише для наших покупців, але й для навколишнього середовища.</p>
    <p>У нашому інтернет-магазині ви знайдете широкий асортимент натуральних та безпечних товарів для вашого здоров'я,
        краси та оселі. Ми спеціалізуємося на прискіпливо підібраних товарах за найвигіднішими цінами.</p>
</div>
