@{
    ViewData["Title"] = "Доставка та оплата";
}

<div class="text-center">
    <div>
        <h3>Доставка</h3>
        <p>Магазин "Еко Лінія" надає змогу нашим покупцям замовляти товари використовуючи дві найпопулярніші поштові служби в Україні: Нова Пошта та Укрпошта</p>
        <div class="d-flex justify-content-around">
            <img src="~/static/images/nova_poshta_logo.png" alt="Логотип Нова Пошта" width="40%" class="align-self-center">
            <img src="~/static/images/ukrposhta_logo.png" alt="Логотип Укрпошта" width="40%" class="align-self-center">
        </div>
    </div>
    <div>
        <h3>Оплата</h3>
        <p>Замовляючи у нашому магазині Ви маєте можливість оплати під час замовлення, використовуючи картку, або оплати при отриманні. Зауважте, що обираючи оплату при отриманні ціна за доставку може збільшитися.</p>
    </div>
</div>
