@{
    ViewData["Title"] = "Не знайдено";
}

<div class="d-flex justify-content-center">
    <div class="text-center w-75">
        <h2>Помилка!</h2>
        <h4>Схоже ту сторінку, яку Ви шукали, не вдалося знайти. Перевірте правильність даних та спробуйте знову</h4>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-dark w-25">Перейти на головну</a>
        <br>
        <a asp-area="" asp-controller="Products" asp-action="All" class="btn btn-dark mt-2 w-25">Перейти до товарів</a>
    </div>
</div>
