@model UpdateCategoryViewModel
@{
    ViewData["Title"] = "Змінити категорію";
}

<div class="d-flex justify-content-center">
    <div class="w-50">
        <h2 class="text-center">Змінити інформацію про категорію "@Model.Name"</h2>
        <form asp-action="Update" method="post">
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="Name">Назва:</label>
                <input asp-for="Name" class="form-control" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Опис:</label>
                <textarea asp-for="Description" class="form-control" required>
                </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <br>
                <button type="submit" class="btn btn-primary w-50">Змінити</button>
            </div>
        </form>
    </div>
</div>
