@{
    ViewData["Title"] = "Звітність";
}

<h2 class="text-center">Звітність</h2>
<div class="text-center">
    <a asp-area="Admin" asp-controller="Reports" asp-action="Orders" class="btn btn-secondary w-25 mt-3">Звітність по замовленнях</a>
    <br>
    <a asp-area="Admin" asp-controller="Reports" asp-action="Products" class="btn btn-secondary w-25 mt-3">Звітність по товарах</a>
    <br>
    <a asp-area="Admin" asp-controller="Reports" asp-action="Sales" class="btn btn-secondary w-25 mt-3">Звітність по продажах</a>
</div>
