@model int
@{
    ViewData["Title"] = "Замовлення оформлено!";
}

<div class="text-center">
    <h2>Замовлення #@Model оформлено успішно!</h2>
    <img src="~/static/images/order_success.svg" width="15%">
    <p>Слідкуйте за замовленням у своєму профілі</p>
    <a asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@Model" class="btn btn-dark m-3 w-25">Переглянути замовлення</a>
    <br>
    <a asp-area="" asp-controller="Products" asp-action="All" class="btn btn-dark w-25">Повернутися до товарів</a>
</div>
